.about_article {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
  margin-top: 150px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.about_text{
  width: 40%;
  display: inline-block;
}

.about_h1 {
  font-size: 64px;
  color: #F4CE14;
  display: inline-block;
}

.about_h2 {
  margin-top: 7px;
  font-size: 40px;
  color: #495E57;
  display: inline-block;
}

.about_h3 {
  margin-top: 50px;
  width: 80%;
  text-align: justify;
  font-size: 18px;
  color: #495E57;
  display: inline-block;
}

.about_imgs{
  display: flex;
  position: relative;
  width: fit-content;
}

.img1 {
  width: 273px;
  height: 338px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.img2 {
  width: 273px;
  height: 338px;

  border-radius: 10px;
  position: absolute;
  top: -100px;
  left: 180px;
}

@media screen and (max-width: 1200px) {
    .about_article {
      flex-direction: column;
    }

    .about_text{
      width: 80%;
      text-align: center;
    }

    .about_imgs{
      margin-top: 50px;
      justify-content: center;
    }

    .img1 {
      width: 203px;
      height: 278px;
      display: inline;
    }

    .img2 {
      width: 203px;
      height: 278px;
      display: inline;
      position: relative;
      top: 0px;
      left: 20px;
    }
}

@media screen and (max-width: 700px){
  .about_imgs{
      width: 80%;
  }

  .img2 {
      display: none;
  }
}