.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    background-color: #EDEFEE;
}

.footer_columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 100px;
    color: #495E57;
}

.footer_logo {
    max-width: 100px;
    height: auto;
    background-color: #EDEFEE;
   /*  margin: 1.5vw; */
   /*  margin-left: 3.5vw; */
    border: #EDEFEE;
}

.column {
    margin-top: 10px;
    flex-direction: column;
    list-style: none;
}

.footer_li {
    margin-left: 1rem;
}

.socials {
    width: 3vh;
    height: 3vh;
   /*  filter: invert(36%) sepia(7%) saturate(1002%) hue-rotate(109deg) brightness(92%) contrast(91%); */
}

.socials:hover {
    transform: scale(105%);
    transition: 0.5s;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.footer_h1 {
    font-family: 'Markazi Text', serif;
    font-size: 34px;
    font-weight: 850;
}

.footer_h2 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

 @media screen and (max-width: 580px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer_columns {
        margin-top: 40px;
        gap: 40px;
    }

    .footer_logo {
        display: flex;
        height: auto;
        max-width: 20%;
        margin: auto;
    }

    .footer_h1 {
        font-size: 28px;
    }

    .footer_h2 {
        font-size: 18px;
    }
}