header {
    background-color: #ffffff;
    font-family: 'Markazi Text', serif;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.headerimg {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1020px){
    .headerimg {
        max-width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 767px) {
    header {
        justify-content: center;
        gap: 25px;
    }

    .headerdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .headerimg {
        max-width: 100%;
        height: auto;
    }

}