.herobackground{
    background: #495e57;
    height: 100%;
    display: flex;
}

.hero {
    height: 100%;
    padding: 2rem 0;
    display: grid;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template: "info image";
    grid-template-columns: 60fr 40fr;
    max-width: 65rem;
    margin: 0 auto;
}

.hero_div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    /* border: 1px solid red; */
    padding: 15px;
}

.hero_h1 {
    font-size: 85px;
    font-weight: 900;
    color: #F4CE14;
}
.hero_h2 {
    font-size: 40px;
    font-weight: 400;
}
.hero_h3 {
    font-size: 24px;
}

.hero_button {
    padding: 10px;
    font-size: 28px;
    background-color: #F4CE14;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 10px;
}


.imgHero {
    /* border: 1px solid red; */
    width: 450px;
    height: 550px;

    background-repeat: none;
    background-position: center;
    background-size: auto 100%;

    border-radius: 16px;
}

.imgHero:hover {
    transform: scale(105%);
    transition: 1s;
}

@media screen and (max-width: 1020px){
    .imgHero{
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 800px) {
    .Hero {
        justify-content: center;
        gap: 25px;
    }
    .hero_div {
             width: 80%;
    }

    .imgHero {
        display: none;
    }
}