.reservations {
    height: 70vh;
    width: 50vw;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #495e57;
    border-radius: 16px;
  }

  .reservation_h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #fff;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }


@media screen and (max-width: 800px) {
  .reservations {
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #495e57;
    border-radius: 16px;
  }

}

@media screen and (max-width: 600px) {
  .reservations {
    height: 70vh;
    width: 95vw;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #495e57;
    border-radius: 16px;
  }

}
